*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    
}

.rectangle{
    width: 100%;
}

.background{
    background: var(--gray, #EFEFEF);
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item{
    padding: 17px 15px;
}

.menu2{
    border-top: 1px solid #EFEFEF;
    background-color: white;
}

.menu2>.menu-item{
    padding: 30px 20px;
}

.menu-item-link{
    color: black;
}

.info-about-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: white;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    gap: 20px;
}

.logo-name{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
    color: #f13c6e;
    text-transform: uppercase;
}

.call{
    gap: 40px;
}

.call-link{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button{
    border: 2px solid;
    border-radius: 40px;
}

.call-button{
    border-color: #f13c6e;
    background-color: #fff;
    padding: 12px 50px;
}

.offers2{
    padding: 0px 10%;
    padding-bottom: 60px;
}

.offers2 > h3{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}

.offers{
    padding: 80px 10%;
}
.offers > h3{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}

.offers-title{
    padding-left: 25px;
    width: 13%;
}

.offers-title2{
    padding-left: 25px;
    width: 23%;
}

.goods{
    gap: 30px;
}

.goods-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
    background-color: #fff;
    max-width: 225px;
}

.item-img{
    width: 125px;
}

.item-name{
    color: #333;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 80%;
}

.item-price{
    color: #000;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}

.item-button{
    border-color: #f13c6e;
    background-color: #f13c6e;
    color: #fff;
    padding: 9px 53px;
    text-transform: capitalize;
}

.chair-container{
    position: relative;
    height: 478px;
}

.text-chair{
    top: 160px;
    padding-left: 300px;
    color: #ffffff;
    margin-top: 0px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
}

.chair-text{
    width: 13%;
    top: 490px;
    padding-left: 300px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
    position: absolute;
}

.more-button{
    border-color: white;
    background-color: #f13c6e;
    color: white;
    width: 150px;
    height: 35px;
    top: 570px;
    position: absolute;
}

.button-setting{
    display: flex;
    padding-left: 300px;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card{
    background-color: #f13c6e;
    padding: 35px 45px 35px 40px;
}

.card-body{
    display: flex;
    align-items: center;
    gap: 80px;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.card-title{
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-text{
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
    width: 60%;
}

.card-input{
    border-radius: 30px;
    background: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-color:transparent;
    padding: 9px 57px 9px 25px;
}
.card-input::placeholder{
    color: #c4c4c4;
}

.card-button{
    border-color: #fff;
    background-color: transparent;
    padding: 9px 35px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 150px;
}

.div-impulse{   
    padding: 80px;
}

.impuls-container{
    background-color: #fff;
    margin-right: 95px;
    margin-left: 95px;
}

.image-impuls{
    display: flex;
    justify-content: center;
}

.image{
    padding: 35px;
    display: flex;
    justify-content: center;
}

.hr-line{
    border-bottom: solid 1px var(--gray, #EFEFEF);
    width: 20%;
}

.vl-line{
    border-left: solid 1px var(--gray, #EFEFEF);
}

.menu-futtor{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding-left: 25px;
}

.rectangle-futtor{
    width: 20%;
    height: 350px;
    background: #FFF;
}

.header{
    color: #000;
    line-height: 140.625%; /* 22.5px */

}

.hr{
    border-bottom: solid 1px var(--gray, #EFEFEF);
    width: 90%;
}

.h5-futtor{
    color: #000;
    font-size: 16px;
    font-style: normal;
    padding-bottom: 30px;
    font-weight: 500
}

.menu-text{
    padding-top: 25px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.menu-text-categories{
    padding-bottom: 2px;
}

.menu-categories{
    color: var(--828282, #828282);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 233.333% */
}

.twoside-futtor{
    display: flex;
    margin-left: 170px;
    margin-bottom: 40px;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.flex-center1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 700px;
}

.hr1{
    border-top: solid 1px var(--gray, #EFEFEF);
    padding: 30px 0 0 0;
}

.twoside-reserved{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 330px;
    padding: 20px 0;
}

.text-reserved{
    color: var(--828282, #828282);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
